body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .container{
    display: grid;
    grid-template-rows:  2fr 12fr 1fr;
    height:100%;
    text-align: center;
    border-color: aquamarine;
}
.header{
    font-size: 55px;
}
.header , .footer{
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.turnInformation{
    height: 15%;
}
.content, .turnInformation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    
}
.board{
    height: auto;
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(3, 150px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.board > div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}
.boardCell{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

    width: var(--s);
   /* outline: calc(var(--s)/2) solid #BEADFA;
    outline-offset: calc(var(--s)/-2); */
    cursor: pointer;
    transition: .3s;

    --s: 150px;   /* the size of the image */
    --b: 2px;     /* the border thickness*/
    --g: 1px;    /* the gap */
    --c: #4ECDC4; /* the color */
}

.boardCell:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
   }
.contentBox{
    height: 100%;
    width: 50%;
    background-color: #BEADFA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
button{
    width: 200px;
    height: 40px;
    border: none;
    background-color: #4ECDC4;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: var(--s);
     cursor: pointer;
     transition: .3s;
 
     --s: 150px;   /* the size of the image */
     --b: 2px;     /* the border thickness*/
     --g: 1px;    /* the gap */
     --c: #279195; /* the color */
}
button:hover{
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}